html,body{
	margin:0px;
  width: 100%;

  -webkit-overflow-scrolling: touch;
}
html{
  height:100%;
}
body{
  min-height: 100%;
  height:auto;
  position: relative;
}
div,body,html{
	font-size: 0px;
}

p,a,span{
    font-family:font-family: 'RobotoDraft', sans-serif;;
}

p{
  margin:0px; 
}

a{
	outline: none;
	text-decoration: none;
}

img{
  outline: none;
  border-width:0px;
}

ol{
  margin:0px;
}

@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1405518699_9640334.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1405518699_9640334.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1405518699_9640334.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1405518699_9640334.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1405518699_9640334.svg#iconfont') format('svg'); /* iOS 4.1- */
}



.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowcarrotup:before { content: "\e61d"; }

.icon-arrowcarrotdown:before { content: "\e614"; }

