<!DOCTYPE HTML>
<html>

<head>
	<title>Quest</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <link type="text/css" rel="stylesheet" href="../static/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/index.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>

<body>
	<div id="searchPage" class="page" data-role="page">
		<div id="searchHeader" class="header">
			<div class="menu">
				<a class="menuButton">推荐</a>
				<a class="menuButton">附近</a>
				<a class="menuButton">收藏</a>
				<div id="searchHdUnderline"></div>
			</div>
			<div class="shadow"></div>
		</div>
		<div class="searchBox">
			<input type="text" placeholder="find you want...">
			<span class="searchIcon iconfont">&#xe601</span>
		</div>
	</div>
	<div id="resultPage" class="page" data-role="page"></div>
	<script type="text/javascript" rel="script" src="../static/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/jquery.mobile-1.4.3.min.js"></script>
    <script type="text/javascript" rel="script" src="../static/js/index.js"></script>
</body>

</html>
